header, section, nav, aside, footer {
    display: block;
}

.wrapper {
    height: 400px;
    margin: 0 auto;
    position: relative;
    width: 1000px;
}

<<<<<<< Updated upstream
#hidden {
=======
#hiddenSection {
>>>>>>> Stashed changes
    background-color: #FF9;
    font-size: 25px;
    font-family: Arial;
    height: 300px;
<<<<<<< Updated upstream
=======
    visibility: hidden;
>>>>>>> Stashed changes
    width: 300px;
}

h1 {
    color: #000000;
    cursor: pointer;
    font-size: 25px;
    font-family: Arial;
    position: absolute;
}

.exercise9 {
<<<<<<< Updated upstream
  color: ;
  height: 400px;
}
=======
  border-top: solid;
  height: 400px;
}

.showIt {
  visibility ="visible";
}

.showError {
  color: red;
}
>>>>>>> Stashed changes
