.drop {
  left: 5px;
  min-height: 100px;
  position: absolute;
  width: 48%;
  border: 1px solid black;
}

.output {
  height: auto;
  min-height: 100px;
  position: absolute;
  right: 5px;
  width: 48%;
}

.section {
  position: relative;
}

.content2 {

  padding-top: 120px;
}
